data/
pylog124M/
__pycache__/
venv/
*.pt
experiments/*_ReadmeGPT/
*_ReadmeGPT/
experiments/*_ModdedGPT/
*_ModdedGPT/
experiments/*_TranscoderGPT/
*_TranscoderGPT/
experiments/*_TopKGPT/
*_TopKGPT/
experiments/*_ActivationDescriptionGPT/
*_ActivationDescriptionGPT/
train.log
scratch.py